@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap");

html {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: "Press Start 2P", cursive;
  background-image: url(./images/walp1.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100%;
  max-height: 100%;
}

body {
  padding-bottom: 0;
  margin-bottom: 0;
  min-width: 600px;
}

.title {
  margin-left: 8px;
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

a {
  color: #5c5f82;
  font-size: 16px;
}

#app {
  background-color: #ffffff;

  padding: 10px;
  width: max-content;
  border: solid;
  border-width: 6px;
  border-color: #a2bdc6;
  box-shadow: 6px 6px #3f495b;
  min-height: 180px;

  box-sizing: border-box;
  font-size: 14px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#display {
  font-size: 50px;
  border: solid;
  border-width: 5px;
  box-shadow: 5px 5px #3f495b;
  min-width: 70px;
  width: max-content;
  height: 70px;
  font-family: "DotGothic16", sans-serif;

  text-align: center;
  margin: 50px auto;
  padding: 0 2px;
}

#menu {
  padding: 10px;
  border: solid;
  border-width: 10px;
  border-radius: 0px;
  border-color: #6c8091b2;
  box-shadow: 10px 10px #3f495bb6;

  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: #f7dce0c2;
  width: max-content;
  height: max-content;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.crossroad {
  margin-bottom: 4px;
}

#button {
  min-width: 82px;
  min-height: 25px;
  background-color: #cad4de;
  border: solid;
  border-width: 2px;
  color: #6c8091;
  box-shadow: 2px 2px #3f495b;

  text-align: center;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
}

.chart {
  width: 600px;
  border: solid;
  border-width: 10px;
  border-color: #a2bdc6;
  box-shadow: 10px 10px #3f495b;
}

input[type="text"] {
  width: 50px;
  border-top: solid;
  border-left: solid;
  border-width: 4px;
  color: #6c8091;
  outline: none;
  margin: 0;
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
}

#score {
  position: relative;
  text-align: right;

  padding: 0;
  margin: 0;
  float: right;
}

#counter {
  position: relative;
  text-align: left;

  padding: 0;
  margin: 0;
  float: left;
}

.author {
  position: absolute;
  font-size: 10px;
  bottom: 2px;
  left: 5px;
}

/* Colors: 
    #EFB8CC pink
    #F1A5A0 orangepink
    #A2BDC6 bird blue
    #5C5F82 tree violet
    #6C8091 building petrolej
    #3F495B stín
    #CAD4DE mrak
*/
